.github-profile {
  margin: 1rem;
  }

.header {
  text-align: center;
  color: chocolate;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.siteimage{
  align-items: baseline;
  align-content: flex-end;
  image-resolution: 10dpi;
}

.info {
  display: inline-block;
  margin-left: 12px;
}

.firstname {
  font-size: 1rem;
}

.lastname {
  font-size: 1rem;
}

.age {
  font-size: 1rem;
}

.gender {
  font-size: 1rem;
}

.dob {
  font-size: 1rem;
}

.phonenumber {
  font-size: 1rem;
}

.birthplace {
  font-size: 1rem;
}

.status {
  font-size: 1rem;
}